/* Import Google Font - Poppins */
@import ("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flag {
    width: 60px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #675AFE;
}


.wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background: #FFF;
}
